/* Wypowiedź: */
.spoko-wypowiedz-textarea {
	max-width: 100%;
	min-width: 100%;
	min-height: 10em;
}

.spoko-komentarz-textarea {
	max-width: 100%;
	min-width: 100%;
	min-height: 2.6em;
}

.spoko-ocena-up {
	margin: 0px 0px -0.6em 0px;
}

.spoko-ocena-down {
	margin: -0.4em 0px 0px 0px;
}

.spoko-ocena-down button,.spoko-ocena-up button {
	padding: 0px;
}

.spoko-tags-edit.spoko-pytanie-tags-edit {
	padding-top: 0.6em;
	padding-left: 2.3em;
	padding-right: 2.3em;
}

/* Tags: */
.spoko-tags-edit {
	
}

.spoko-tags-edit ul {
	margin-bottom: 0em;
	min-height: 2.2em;
	height: auto;
	cursor: text;
}

.spoko-tags-edit li.tagit-choice {
	font-size: 85%;
}

.spoko-tags-edit li.tagit-choice-editable {
	padding-bottom: 0em;
}

.spoko-tags-edit li.tagit-new {
	padding: 0em !important;
}

.spoko-tags-edit .tagit-new input {
	background: transparent !important;
}

/* Sign: */
.spoko-sign {
	max-width: 33em;
	margin-left: auto;
	margin-right: auto;
}

/* Profile: */
.spoko-profile {
	padding-top: 1.6em;
}

.spoko-profile .spoko-profile-tab {
	padding-top: 0.3em;
}

/* Common: */
body>div.container {
	margin-top: -0.3em;
}

.spoko-nowrap-space {
	white-space: nowrap;
}

.spoko-inlineblock {
	display: inline-block;
}

.spoko-stretch-horizontal,.spoko-stretch-horizontal>button {
	max-width: 100%;
	min-width: 100%;
	width: 100%;
}

.spoko-small-padding-left {
	padding-left: 0.6em;
}

.spoko-small-padding-right {
	padding-right: 0.6em;
}

.spoko-small-padding {
	padding-left: 0.6em;
	padding-right: 0.6em;
}

.spoko-nopadding-right {
	padding-right: 0;
}

.spoko-nomargin {
	margin: 0;
}

.spoko-working-64 {
	background: url('images/loader_64.gif') no-repeat right center;
}

.spoko-working-32 {
	background: url('images/loader_32.gif') no-repeat right center;
}

.spoko-working-16 {
	background: url('images/loader_16.gif') no-repeat right center;
}

.spoko-logo-link:hover {
	text-decoration: inherit;
}

.spoko-logo-link .logo-content {
	color: goldenrod;
	font-family: monospace;
	font-size: 2em;
}

.spoko-logo-link .logo-hover-content {
	color: goldenrod;
	font-family: sans-serif;
	font-size: 1.2em;
}